// Variables

// Colors
$lakers-orange-color: rgb(253, 185, 39);
$lakers-purple-color: rgb(85, 37, 130);
$black-color: rgb(0, 0, 0);
$white-color: rgb(255, 255, 255);


// Fonts
$main-font: "Bakbak One";

// Button colors
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
